header {
    display:flex;
    align-items:center;
    justify-content:space-between;   
    position: sticky;
    top:0;
    z-index: 100;
    background-color:white;
  }
  
  .header-input {
    border: 1px solid #ddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
  }
    
  .search-bar {
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
    height: 100%;
  }
    
  .header-icons {
    display:flex;
    align-items:center;
  }
    
  .search-icon {
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
  }
    
  .header-icons {
    margin-right:8px;
  }
  .ylogo {
    height:25px;
    object-fit:contain;
  }
  
  .app_page {
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
  }
  
  header i {
    padding: 0 7px;
    cursor: pointer;
  }
  
  
  @media (max-width: 425px) {
    .header-input {
      display: none;
    }
  
    .header-icons .material-icons {
      display: none;
    }
  
    .header-icons .display-this {
      display: inline;
    }
  
    .sidebar {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .header-input {
      display: none;
    }
  
    .sidebar {
      display: none;
    }
  
    .show-sidebar {
      display: inline;
      position: fixed;
      top: 4.4rem;
      height: auto;
    }
  }
  
  @media (max-width: 941px) {
    .search-bar {
      width: 300px;
    }
  }
  
  .sidebar {
      flex:0.2;
      background-color: white;
      overflow-y: scroll;
    }
    
    .sidebar__categories {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      margin-top: 15px;
    }
    
    .sidebar__category {
      display: flex;
      align-items: center;
      padding: 12px 25px;
    }
    
    .sidebar__category span {
      margin-left: 15px;
    }
    
    .sidebar__category:hover {
      background: #e5e5e5;
      cursor: pointer;
    }
    
    .sidebar::-webkit-scrollbar {
      display: none;
    }
    
    hr {
      height: 1px;
      background-color: #e5e5e5;
      border: none;
    }
  
  .recommended {
      flex:0.8;
      overflow-y: scroll;
      display:flex;
      flex-wrap: wrap;
  }
        
  .recommended::-webkit-scrollbar {
      display: none;
  }
        
  .searchList {
      margin-left:5px;
      margin-top:15px;
  }

  
  .video_title {
    margin-bottom:40px;
    width:270px;
    flex-wrap: wrap;
  }
  
  .thumbnail {
    height: 140px;
    width: 250px;
  }

  .recommendedVideos {
      margin-left:5px;
      margin-top:15px;
  }